/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$add_hover_name = 'add-hover';
$add_hover_x = 70px;
$add_hover_y = 72px;
$add_hover_offset_x = -70px;
$add_hover_offset_y = -72px;
$add_hover_width = 70px;
$add_hover_height = 70px;
$add_hover_total_width = 284px;
$add_hover_total_height = 212px;
$add_hover_image = 'sprite.png';
$add_hover = 70px 72px -70px -72px 70px 70px 284px 212px 'sprite.png' 'add-hover';
$add_name = 'add';
$add_x = 0px;
$add_y = 142px;
$add_offset_x = 0px;
$add_offset_y = -142px;
$add_width = 70px;
$add_height = 70px;
$add_total_width = 284px;
$add_total_height = 212px;
$add_image = 'sprite.png';
$add = 0px 142px 0px -142px 70px 70px 284px 212px 'sprite.png' 'add';
$facebook_hover_name = 'facebook-hover';
$facebook_hover_x = 214px;
$facebook_hover_y = 70px;
$facebook_hover_offset_x = -214px;
$facebook_hover_offset_y = -70px;
$facebook_hover_width = 70px;
$facebook_hover_height = 70px;
$facebook_hover_total_width = 284px;
$facebook_hover_total_height = 212px;
$facebook_hover_image = 'sprite.png';
$facebook_hover = 214px 70px -214px -70px 70px 70px 284px 212px 'sprite.png' 'facebook-hover';
$facebook_reg_name = 'facebook-reg';
$facebook_reg_x = 0px;
$facebook_reg_y = 0px;
$facebook_reg_offset_x = 0px;
$facebook_reg_offset_y = 0px;
$facebook_reg_width = 72px;
$facebook_reg_height = 72px;
$facebook_reg_total_width = 284px;
$facebook_reg_total_height = 212px;
$facebook_reg_image = 'sprite.png';
$facebook_reg = 0px 0px 0px 0px 72px 72px 284px 212px 'sprite.png' 'facebook-reg';
$facebook_name = 'facebook';
$facebook_x = 144px;
$facebook_y = 0px;
$facebook_offset_x = -144px;
$facebook_offset_y = 0px;
$facebook_width = 70px;
$facebook_height = 70px;
$facebook_total_width = 284px;
$facebook_total_height = 212px;
$facebook_image = 'sprite.png';
$facebook = 144px 0px -144px 0px 70px 70px 284px 212px 'sprite.png' 'facebook';
$istagram_hover_name = 'istagram-hover';
$istagram_hover_x = 144px;
$istagram_hover_y = 70px;
$istagram_hover_offset_x = -144px;
$istagram_hover_offset_y = -70px;
$istagram_hover_width = 70px;
$istagram_hover_height = 70px;
$istagram_hover_total_width = 284px;
$istagram_hover_total_height = 212px;
$istagram_hover_image = 'sprite.png';
$istagram_hover = 144px 70px -144px -70px 70px 70px 284px 212px 'sprite.png' 'istagram-hover';
$istagram_name = 'istagram';
$istagram_x = 0px;
$istagram_y = 72px;
$istagram_offset_x = 0px;
$istagram_offset_y = -72px;
$istagram_width = 70px;
$istagram_height = 70px;
$istagram_total_width = 284px;
$istagram_total_height = 212px;
$istagram_image = 'sprite.png';
$istagram = 0px 72px 0px -72px 70px 70px 284px 212px 'sprite.png' 'istagram';
$sign_hover_name = 'sign-hover';
$sign_hover_x = 70px;
$sign_hover_y = 142px;
$sign_hover_offset_x = -70px;
$sign_hover_offset_y = -142px;
$sign_hover_width = 70px;
$sign_hover_height = 70px;
$sign_hover_total_width = 284px;
$sign_hover_total_height = 212px;
$sign_hover_image = 'sprite.png';
$sign_hover = 70px 142px -70px -142px 70px 70px 284px 212px 'sprite.png' 'sign-hover';
$sign_name = 'sign';
$sign_x = 140px;
$sign_y = 142px;
$sign_offset_x = -140px;
$sign_offset_y = -142px;
$sign_width = 70px;
$sign_height = 70px;
$sign_total_width = 284px;
$sign_total_height = 212px;
$sign_image = 'sprite.png';
$sign = 140px 142px -140px -142px 70px 70px 284px 212px 'sprite.png' 'sign';
$vk_hover_name = 'vk-hover';
$vk_hover_x = 214px;
$vk_hover_y = 0px;
$vk_hover_offset_x = -214px;
$vk_hover_offset_y = 0px;
$vk_hover_width = 70px;
$vk_hover_height = 70px;
$vk_hover_total_width = 284px;
$vk_hover_total_height = 212px;
$vk_hover_image = 'sprite.png';
$vk_hover = 214px 0px -214px 0px 70px 70px 284px 212px 'sprite.png' 'vk-hover';
$vk_reg_name = 'vk-reg';
$vk_reg_x = 72px;
$vk_reg_y = 0px;
$vk_reg_offset_x = -72px;
$vk_reg_offset_y = 0px;
$vk_reg_width = 72px;
$vk_reg_height = 72px;
$vk_reg_total_width = 284px;
$vk_reg_total_height = 212px;
$vk_reg_image = 'sprite.png';
$vk_reg = 72px 0px -72px 0px 72px 72px 284px 212px 'sprite.png' 'vk-reg';
$vk_name = 'vk';
$vk_x = 214px;
$vk_y = 140px;
$vk_offset_x = -214px;
$vk_offset_y = -140px;
$vk_width = 70px;
$vk_height = 70px;
$vk_total_width = 284px;
$vk_total_height = 212px;
$vk_image = 'sprite.png';
$vk = 214px 140px -214px -140px 70px 70px 284px 212px 'sprite.png' 'vk';
$spritesheet_width = 284px;
$spritesheet_height = 212px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $add_hover $add $facebook_hover $facebook_reg $facebook $istagram_hover $istagram $sign_hover $sign $vk_hover $vk_reg $vk;
$spritesheet = 284px 212px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
