//*****Mixins
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
        
size(width, height)
	width width
	height height
	
//*****Font-fam
flc = FavoritLightC
flcc = FavoritLightCondC
rb = RexBold
rl = RexLight

//*****Colors
darkgray = #202020
gray = #494949
lightgray = #b2b2b2
red = #e30613
white = #e9e9e9
black = #000

//*****Animation
animation = all .5s ease