ul.header-nav
  li.header-nav-item
    a(href="#") О проекте
  li.header-nav-item
    a(href="#") Академия
  li.header-nav-item
    a(href="#") Конкурсы
  li.header-nav-item
    a(href="#") Партнеры
  li.header-nav-item
    a(href="#") Сувениры
  li.header-nav-item
    a(href="#") Новости
  li.header-nav-item
    a(href="#") Контакты 
