header.header
  .header-top
    | международная &nbsp; ассоциация  профессионалов &nbsp;сферы &nbsp;красоты
  .header-main
    .header-main-col 
      button#jsAddOpen.btn.btn__add добавить
      .form.form-add
        input#new(type="radio" name="add" value="Новость")
        label(for="new") Новость
        br
        input#vac(type="radio" name="add" value="Вакансию")
        label(for="vac") Вакансию
        br
        button#jsAddClose.btn.btn__sign ok
      .social
        a(href="#").social-icon.social-icon__instagramm
        a(href="#").social-icon.social-icon__facebook
        a(href="#").social-icon.social-icon__vk
    .header-main-logo
      a(href="index.html")
        img.logo(src="img/logo.png", alt="logo")
    .header-main-col
      .sign
        a(href="#")#jsSignOpen.sign-rel вход
        button.btn.btn__sign.sign-btn регистрация
      a(href="#tel").phone 8.800.775.21.51
      .form.form-registration
        input(type="text" name="email" placeholder="e-mail")
        input(type="password" name="password" placeholder="пароль")
        input#memo(type="radio" name="registration" value="Вакансию")
        label(for="memo") Запомнить меня
        button#jsSignClose.btn.btn__sign войти
        br
        input#signsocial(type="radio" name="registration" value="Вакансию")
        label(for="signsocial") Войти с помощью
        .social
          a(href="#").social-icon.social-icon__facebook__colored
          a(href="#").social-icon.social-icon__vk__colored
  ul.header-nav
    li.header-nav-item
      a(href="#") О проекте
    li.header-nav-item
      a(href="#") Академия
    li.header-nav-item
      a(href="#") Конкурсы
    li.header-nav-item
      a(href="#") Партнеры
    li.header-nav-item
      a(href="#") Сувениры
    li.header-nav-item
      a(href="#") Новости
    li.header-nav-item
      a(href="#") Контакты 
