.slider-top.owl-carousel.owl-theme
  .slider-top-item
    a(href="#")
      img.slider-top-item__overlay(src='img/slider-top.jpg', alt='')
      .slider-top-item__info
        span.slider__head Раздел: 
        | &nbsp; Заголовок какой-то новости/события или акции
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo cumque eos omnis dolorum adipisci autem, voluptatum, reprehenderit saepe. A, ipsa.
  .slider-top-item
    a(href="#")
      img.slider-top-item__overlay(src='img/slider-top.jpg', alt='')
      .slider-top-item__info
        span.slider__head Раздел: 
        | &nbsp; Заголовок какой-то новости/события или акции
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo cumque eos omnis dolorum adipisci autem, voluptatum, reprehenderit saepe. A, ipsa.
  .slider-top-item
    a(href="#")
      img.slider-top-item__overlay(src='img/slider-top.jpg', alt='')
      .slider-top-item__info
        span.slider__head Раздел: 
        | &nbsp; Заголовок какой-то новости/события или акции
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo cumque eos omnis dolorum adipisci autem, voluptatum, reprehenderit saepe. A, ipsa.