@import "../img/sprite/sprite"
@import "include/var"
@import "include/font"

html
  font-size 1vw

body
  font-family flc
  background black
  font-size 1.3rem
  letter-spacing: 0.5rem
  line-height 2.22

header
  background url('../img/cover-top.jpg') center no-repeat 
  background-size cover

a
  text-decoration none
  color inherit

img
  width 100%
  

@import "blocks/header"
@import "elements/buttons"
@import "elements/icons"
@import "elements/input"