.form  
  display none
  background darkgray
  position absolute
  padding 1rem 1.5rem
  z-index 101
  &-add
    width 13.55rem
    left 3rem
    top 4.5rem
  &-signin
    width 21.2rem
    left inherit
    top 4.5rem
    right 3rem
    .btn
      margin-top 1rem
      margin-bottom 1.5rem
  &-registration
    position fixed
    width 48%
    left 25%
    top 17rem
    .btn
      margin-left -2.5rem
      margin-top 2.5rem
    input[name=number]
      width 90%
    &__left,
    &__right
      width 49%
      float left
      padding .5rem 2rem
    &__right
      float right