.social-icon
  size (2.3rem 2.3rem)
  transition animation
  &__instagramm
    background: url('../img/icons/instagram.png')
    background-size cover
    &:hover
      background: url('../img/icons/instagram-hover.png')
      background-size cover
  &__facebook
    background: url('../img/icons/facebook.png')
    background-size cover
    &:hover
      background: url('../img/icons/facebook-hover.png')
      background-size cover
    &__colored
      border-radius 5px
      background url('../img/icons/facebook-reg.png')
      background-size cover
      &:hover
        background: url('../img/icons/facebook.png')
        background-size cover
  &__vk
    background: url('../img/icons/vk.png')
    background-size cover
    &:hover
      background: url('../img/icons/vk-hover.png')
      background-size cover
    &__colored
      border-radius 5px
      background url('../img/icons/vk-reg.png')
      background-size cover
      &:hover
        background: url('../img/icons/vk.png')
        background-size cover 
        