label
  cursor pointer
  position relative
  padding-left 2rem
  font-size 1.3rem
  font-family flc
  color lightgray
  font-size 1.3rem
  text-transform none
  letter-spacing normal
  margin-bottom 1.3rem
  &:before
    content ""
    display inline-block
    size (1rem 1rem)
    margin-right .5rem
    position absolute
    left 0
    bottom 0.2rem
    background url('../img/icons/radio.png') center no-repeat
    background-size cover
input[type=radio]
  display none
  &:checked
    & + label
      &:before
        content ""
        font-size 1rem
        text-align center
        line-height .5rem
        background url('../img/icons/radio-checked.png') center no-repeat
        background-size cover
input[type=text],
input[type=phone],
input[type=password]
  background transparent
  outline none
  border 0
  border-bottom 1px solid
  color lightgray
  width 100%
  font-family flcc
  font-size 1.3rem
  letter-spacing .5rem
  text-transform uppercase
  padding .5rem 0 .3rem
  margin-bottom .9rem
  margin-top .9rem